.toolbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2em;
  margin-right: 2em;
}

.mobile-toolbar-wrapper {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.searchbar-wrapper {
  width: 30%;
}

::ng-deep .searchbar-wrapper > ion-searchbar > .searchbar-input-container > .searchbar-input {
  border-radius: 2em;
}

::ng-deep .mobile-searchbar-wrapper > ion-searchbar > .searchbar-input-container > .searchbar-input {
  border-radius: 2em;
}

/* .content-wrapper {

}

.table-wrapper {

} */

.mat-column-name, .mat-column-email, .mat-column-phone, .mat-column-address, .mat-column-delete, .mat-column-details {
  text-align: center;
}

.mat-mdc-header-row {
  border-bottom: solid 4px #c1c1c1;
}

::ng-deep ion-input > label > .label-text-wrapper > .label-text {
  color: #3880ff;
}

.card-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
  margin: 0.5em;
}