<ion-header>

  <ion-toolbar class="primary-toolbar" color="primary">
    <ion-title class="ion-text-center">
      Volga Angular Assignment
    </ion-title>
  </ion-toolbar>

  <ng-container *ngIf="!isMobile">
    <ion-toolbar>
      <div class="toolbar-wrapper">
        <div class="searchbar-wrapper">
          <ion-searchbar [debounce]="500" (ionInput)="filterRows($event)" [(ngModel)]="filterQuery" placeholder="Search by Email Address" show-clear-button="focus"></ion-searchbar>
        </div>
        <ion-button (click)="openModal(false)">Create</ion-button>
      </div>
    </ion-toolbar>
  </ng-container>

  <ng-container *ngIf="isMobile">
    <ion-toolbar>
      <div class="mobile-toolbar-wrapper">
        <div class="mobile-searchbar-wrapper">
          <ion-searchbar [debounce]="500" (ionInput)="filterRows($event)" [(ngModel)]="filterQuery" placeholder="Search by Email Address" show-clear-button="focus"></ion-searchbar>
        </div>
      </div>
    </ion-toolbar>
    <ion-toolbar>
      <div class="mobile-toolbar-wrapper">
        <ion-button shape="round" expand="block" (click)="openModal(false)">Create</ion-button>
      </div>
    </ion-toolbar>
  </ng-container>

</ion-header>

<ion-content [fullscreen]="true">

  <ng-container *ngIf="!isMobile">

    <div class="content-wrapper">

      <div class="table-wrapper">
  
        <table mat-table [dataSource]="data" class="primary-table">
      
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>
      
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let row"> {{row.email}} </td>
          </ng-container>
      
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef>Phone</th>
            <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
          </ng-container>
      
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef>Address</th>
            <td mat-cell *matCellDef="let row"> {{row.address}} </td>
          </ng-container>
      
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <ion-button (click)="deleteRow(row)">Delete</ion-button>
            </td>
          </ng-container>
      
          <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <ion-button mat-button (click)="openModal(true, row)">Details</ion-button>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="renderedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: renderedColumns;"></tr>
      
        </table>
    
      </div>
  
    </div>

  </ng-container>

  <ng-container *ngIf="isMobile">

    <ion-list class="main-list">

      <ng-container *ngFor="let personnel of data.data">

        <ion-card>

          <ion-item lines="full">
            <ion-input color="primary" label="Name" labelPlacement="floating" readonly="true" [value]="personnel.name"></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-input color="primary" label="Email" labelPlacement="floating" readonly="true" [value]="personnel.email"></ion-input>
          </ion-item>
          <ion-item lines="full">
            <ion-input color="primary" label="Phone" labelPlacement="floating" readonly="true" [value]="personnel.phone"></ion-input>
          </ion-item>

          <div class="card-buttons">
            <ion-button expand="block" color="danger" fill="outline" (click)="deleteRow(personnel)">Delete</ion-button>
            <ion-button expand="block" (click)="openModal(true, personnel)">Details</ion-button>
          </div>

        </ion-card>

      </ng-container>

    </ion-list>

  </ng-container>

</ion-content>
